{
  "project_info": {
    "project_number": "REEMPLAZAR",
    "project_id": "syng-app",
    "storage_bucket": "syng-app.appspot.com"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "REEMPLAZAR",
        "android_client_info": {
          "package_name": "app.syng.mobile"
        }
      },
      "oauth_client": [],
      "api_key": [{ "current_key": "REEMPLAZAR" }],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": []
        }
      }
    }
  ],
  "configuration_version": "1"
}
